


@model IEnumerable<BookWeb.Entities.Genre>
@{
    ViewData["Title"] = "Genre";
}
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Book</h3>
    </div>
    <!--<div class="col-md-7 align-self-center">
         <a href="https://wrappixel.com/templates/adminpro/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>
      </div>-->
</div>

<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">List</h4>
                <!-- <h6 class="card-subtitle">Add New Author</h6>-->
                <div class="col-md-12 col-12 align-self-center">
                    <a asp-controller="Category" asp-action="Create" class="btn float-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i>New Book</a>
                </div>
                <div class="table-responsive">
                    <table class="table v-middle">
                        <thead>
                            <tr class="bg-light">
                                <th class="border-top-0">ID</th>
                                <th class="border-top-0">Name</th>
                                <th class="border-top-0">Created By</th>
                                <th class="border-top-0">Date Created</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var genre in Model)
                            {
                                <tr>
                                    <td>@genre.Id</td>
                                    <td>@genre.Name </td>

                                    <td>@genre.CreatedBy</td>
                                    <td>@genre.DateCreated</td>
                                    <td><a asp-action="Edit" asp-route-id="@genre.Id" alt="Edit">Edit<i class="fa fa-pencil m-r-10" aria-hidden="true"></i></a> </td>
                                    <td><a asp-action="Delete" asp-route-id="@genre.Id"><i class="fa fa-trash-o m-r-10" aria-hidden="true"></i></a> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


