@model IEnumerable<BookWeb.Entities.Publisher>
@{
    ViewData["Title"] = "Publisher";
}
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Publisher</h3>
    </div>
  <!--<div class="col-md-7 align-self-center">
       <a href="https://wrappixel.com/templates/adminpro/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>
    </div>-->
</div>

<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">List</h4>
                <!-- <h6 class="card-subtitle">Add New Author</h6>-->
                <div class="col-md-12 col-12 align-self-center">
                    <a asp-controller="Publisher" asp-action="Create" class="btn float-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i>New Publisher</a>
                </div>
                <div class="table-responsive">
                    <table class="table v-middle">
                        <thead>
                            <tr class="bg-light">
                                <th class="border-top-0">ID</th>
                                <th class="border-top-0">Publisher Name</th>
                                <th class="border-top-0">Country</th>
                                
                                <th class="border-top-0">Created By</th>
                                <th class="border-top-0">Date Created</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var publisher in Model)
                            {
                            <tr>
                                <td>@publisher.Id</td>
                                <td>@publisher.PublisherName </td>
                                <td>@publisher.Country  </td>
                                <td>@publisher.CreatedBy</td>
                                <td>@publisher.DateCreated</td>
                                <td>

                                    <a class="btn btn-success btn-sm rounded-0" data-toggle="tooltip" data-placement="top" title="Edit" asp-action="Edit" asp-route-id="@publisher.Id" alt="Edit"><i class=" fa fa-edit" aria-hidden="true"></i></a>

                                    <a class="btn btn-danger btn-sm rounded-0" data-toggle="tooltip" data-placement="top" title="Delete" asp-action="Delete" asp-route-id="@publisher.Id" onclick="return confirm('Are you sure you want to Delete this user: @publisher.PublisherName')">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


                           